.Button {
  padding: 15px 32px;
  max-width: 143px;
  min-height: 44px;

  background: #366BAA;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 100%;

  text-align: center;
  text-transform: uppercase;
  border: 1px solid #366BAA;
  color: #FFFFFF;
  outline: none
  }