

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.Modal__bg{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #000000;
    opacity: 0.7;
    z-index: 2;
}


.Modal__container {
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    max-width: 520px;
    height: auto;
    background: #EEF0F5;
    border-radius: 16px;
}

.Modal__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #231F20;
    margin: 0;
}

.Modal__info {
    width: 100%;
    min-height: 128px;
    padding: 16px;

    background: #FFFFFF;
    border-radius: 8px;

    img {
        width: 64px;
        height: 48px;
    }

    
}

.Modal__info-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .Modal__info-title, .Modal__info-price {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
    }

    .Modal__info-price {
        margin-left: auto;
    }
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
