.RoundButton {
  position: absolute;
  content: '';
  width: 182px;
  height: 182px;
  left: 0;
  bottom: 0;
  background-color: transparent;
  border: 2px solid #366baa;
  border-radius: 1000px;

  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;

  color: #366baa;

  p {
   max-width: 102px;
   margin: 0 auto;
  }
}
